*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Anonymous Pro', monospace;
font-family: 'Crimson Text', serif;
}


/* side scroll bar*/
body::-webkit-scrollbar{
    width: 1rem;
}
body::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(#3965FF,#9327FF,#F808A6,#F4FF00);
}
/*tabletas y escritorio*/
@media only screen and (min-width:426px){
    /*navbar*/
    .navbar{
        right: 0;
        width: 5rem;
        height: 100vh;
        z-index: 2;
    }
    .navbar:hover{
        width: 16rem;
    }
    
    .navbar:hover .link-text{
        display: block;
    }
    .navbar-nav{
        flex-direction: column;
    }

    .main{
    margin-right: 5rem;
    }
}
/*movil*/
@media only screen and (max-width: 425px){
    /*navbar*/
    .navbar{
        bottom: 0;
        width: 100%;
        z-index: 2;
        
    }
    .navbar-nav{
        flex-direction: row;
        justify-content:space-evenly ;
    }

    .nav-link {
       display: none;
    }

    .main{
        margin: 0;
    }
 }
/*finaliza media*/

/*Comienza navbar*/
.navbar{
    position: fixed;
    background-color: black;
    transition: width 200ms ease;
    /* overflow: scroll; */
}
.navbar img{
    width: 3rem;
    max-width: 3.5rem;
    border:1px white solid;
    border-radius: 50%;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: opacity(0.7) hue-rotate(0);
    transition: 200ms ease;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: #1c1c1c;
    color: white;
    font-size: 1.2rem;
    justify-content: flex-start;
    
}

.link-text{
    display: none;
    margin-left: 1rem;
    color: white;
}
/*Finaliza nav bar*/

/*main*/
.main{
    padding: 0% 0% 1% 1%;
    color: white;
    background-color: black;
    
    font-family: Anonymous Pro;
}

#main-gradient-background{
    border-radius: 5px;
    background: linear-gradient(108deg, #3965FF 0%, #9327FF 21.92%, #F808A6 52%, #F4FF00 92.19%);
    backdrop-filter: blur(2px);
    padding: 4%;
}
#main-filtered-background{
    min-height: 500px;
    border-radius: 5px;
    background: linear-gradient(108deg, rgba(57, 101, 255, 0.50) 0%, rgba(147, 39, 255, 0.50) 21.92%, rgba(248, 8, 166, 0.50) 52%, rgba(244, 255, 0, 0.50) 92.19%);
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25) inset;
    /* padding: 5%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}
h1{
    font-size: 5vw;
    color:#F4FF00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#main-column{
    padding: 3%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-content: center;
}
#main-column div{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;;
}
#main-column h2{
    font-size: 2.5vh;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}
#main-column img{
    height:50px;
    margin-bottom: 15%;
}
#main-column a:last-child{
    margin-bottom: 3%px;
}
#ilustracion1{
    grid-column: span 2;
}
#ilustracion1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#main-nombre{
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 5% 5% 5% 10%;
    margin: 10% 0;
    justify-content: space-evenly;
}

#main-nombre h2,h3{
    font-size: 2vw;
}

#main-nombre-button{
    height: 40px;
    width: 140px;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: rgba(57, 101, 255, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-size: 15px;
    font-family: Anonymous Pro;
    margin: 20px 0 0 100px;
}
#main-nombre-button:hover{
    width: 250px;
    transition: .5s;
    border:1px solid #F4FF00;
}
/*section de proyectos*/

main h2{
    font-family: Anonymous Pro;
    margin: 5% 0 5% 0;
    font-style: italic;
    font-size: 25px;
}

#proyectos-section{
    font-family: Anonymous Pro;
 /* margin-top: 5%;    */
}
#proyectos-princ{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 10px;
}
#proyectos-princ h3{
    margin-bottom: 10px;
}
#main-btn{
    height: 50px;
    width: 120px;
}
#proyectos-div-princ-1{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10%;
    min-height: 400px;;
    border-radius: 5px;
    background: linear-gradient(289deg, #9327FF 38.45%, #F808A6 105.41%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#proyectos-div-princ-1:hover{
    background-image: linear-gradient(282deg, rgba(244, 255, 0, 0.20) -16.48%, rgba(244, 255, 0, 0.45) -16.47%, rgba(148, 41, 253, 0.50) 54.47%, rgba(147, 39, 255, 0.50) 57.19%),
    url(../src/babydevs/babydevsportada.svg);
    height: 100%;
    width: 100%;
    object-fit: cover;

    background-position: center;
}

.proyectos-img{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.proyectos-img div{
    display: flex;
    flex-direction: row;
}
.proyectos-img img{
    width: 150px;
    margin: 5px;
}

.proyectos-img1{
margin-left: 2rem;

}
.proyectos-img3{
    margin-left: 1rem;

}

#proyectos-div-princ-2{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10%;
    min-height: 450px;
    border-radius: 5px;
    background: linear-gradient(282deg, #F4FF00 -16.48%, #9327FF 82.61%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#proyectos-div-princ-2:hover{
    background-image: linear-gradient(282deg, rgba(244, 255, 0, 0.20) -16.48%, rgba(244, 255, 0, 0.45) -16.47%, rgba(148, 41, 253, 0.50) 54.47%, rgba(147, 39, 255, 0.50) 57.19%),
    url(../src/pinguinos/pinguinos1.svg);
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
}

.btn-proyectos-git{
    height: 40px;
    width: 140px;
    border-radius: 30px;
    border: 1px solid #FFF;
    background: rgba(57, 101, 255, 0.00);
}

.btn-proyectos-git a{
    text-decoration: none;
    color: white;
}

.btn-proyectos{
    text-decoration: none;
    color: #9326FF;
    font-size: 15px;
    font-family: Anonymous Pro;
    font-style: normal;
    font-weight: 700;
    height: 40px;
    width: 140px;
    border-radius: 30px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.30);
}
.modal-content{
    border-radius: 5px;
    background: linear-gradient(137deg, rgba(147, 39, 255, 0.90) 29.28%, rgba(244, 255, 0, 0.90) 121.12%);
}

.modal-body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 10px;
}

#proyectos-sec{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    gap: 10px;
    margin-top: 10px;
}
.proyectos-div-sec{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10%;
    min-height: 350px;
    border-radius: 5px;
    background: linear-gradient(114deg, #9326FF 15.95%, #F4FF00 142.93%);
   
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*experiencia section*/
#experiencia-separador{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 10px;
}
#experiencia-separador img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

#experiencia-separador-div{
    padding: 15%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    height: 400px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
}

#experiencia-separador-div p{
    font-family: Anonymous Pro;
    font-size: 30px;
    font-style: normal;
}
#experiencia-h3{
    font-family: Anonymous Pro;
    font-size: 3vw;
    font-style: normal;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-bottom: 10px;
}
#experiencia-h3-div{
    font-size: 30px;
    margin: 20px 0;
}
#experiencia-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    gap: 10px;
}


.trabajo-card{
    display: flex;
    position: relative;
    transition: all .3s ease;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10%;
    min-height: 350px;
    border-radius: 5px;
    background: linear-gradient(114deg, #F808A6 15.95%, #F4FF00 142.93%);
    /* margin-top: 10px; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.trabajo-card div{
    box-shadow: 0 60px 60px -60px rgba(0,30,255,0.5);
    border-radius: 5px;
    object-fit: cover;
    width: 100%;
}
.descripcion-trabajo{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: .3s ease;
    opacity: 0;
}
.descripcion-trabajo:hover{
    opacity: 1;
    transform: translateY(0);
}


.trabajo-card:hover{
    transform: 
        perspective(500px)
        rotateX(10deg)
        translateY(-5%)
        translateZ(0)
        ;
    opacity: 1;
}

.trabajo-card::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 5%,
        rgba(0,0,0,0.5) 40%,
        rgba(0,0,0)95%
    );
    opacity: 0;
    transition: .3s ease;
}
.trabajo-card:hover::before{
    opacity: 1;
}

.trabajo-card h3{
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Anonymous Pro;
    font-size: 25px;
    font-style: normal;
    color: #F4FF00;
    margin-bottom: 5px;
}



/*about-section*/
#about-section{
    margin: 10px 0 10px;   
}
#about-div{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(350px,1fr)); */
    /* grid-template-columns: 350px 1fr; */
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-auto-flow: dense;
    margin-top: 5%;
}
#about-section-div{
    display: flex;
    flex-direction: column;
}

#about-section-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#about-section-div2{
    grid-column: span 2;
    margin-left: 5%;
}

#about-section-div2 h2{
    color: #FFF;
    font-family: Anonymous Pro;
    font-size: 40px;
    font-style: normal;
    text-align: center;
}
#about-section-div2 img{
    height: 400px;
}

#about-texto{
    width: 100%;
    padding: 5%;
    margin-top: 10px;
}

#about-texto2{
    display: flex;
    margin-top: 5%;
}

/*habilidades*/
/*blandas octágonos exceso de */
#habilidades-div{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-auto-flow: dense;
}

#habilidades-div ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.exceso-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.exceso-div img {
    width: 150px ;
    margin-bottom: 10px;
  }

#habilidades-tabla-div{
    grid-column: span 2;
    display: flex;
    min-width: 350px;
    padding: 2%;
    border-radius: 10px;
    background: radial-gradient(97.55% 97.55% at 50% 50%, rgba(57, 101, 255, 0.80) 0%, rgba(248, 8, 166, 0.80) 100%);
}

#habilidades-tabla{
    font-family: Anonymous Pro;
    width: 100%; 
    min-width: 350px;
    border-radius: 10px;
    background: radial-gradient(97.55% 97.55% at 50% 50%, rgba(57, 101, 255, 0.64) 0%, rgba(248, 8, 166, 0.64) 100%);
    border: 1px solid #FFF;
    padding: 2%;
}
#habilidades-tabla table{
    caption-side: top;
    line-height: 1.7;
    width: 100%; 
    min-width: 350px;

}

#habilidades-tabla caption{
    border-bottom: 2px solid rgb(190, 190, 190);
    color: #FFF;
    font-family: Anonymous Pro;
    font-size: 30px;
    text-align: center;

}

#habilidades-tabla th {
    font-size: 20px;
    border-bottom: 2px solid rgb(190, 190, 190);
    /* border-radius: 10px; */
    padding: 10px 20px;
    text-align: start;
}

#habilidades-tabla td{
    font-size: 15px;
    text-align: start;
}

.lenguaje-div{
    border-radius: 5px;
background: linear-gradient(114deg, #9326FF 15.95%, #F4FF00 142.93%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#lenguajes{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-auto-flow: dense;
}
#lenguajes-img{
    position: relative;
}
#lenguajes-img div{
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
#lenguajes img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.lenguaje-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 200px;
    min-width: 250px;
    margin-top: 30px;
    color: #F4FF00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Anonymous Pro;
    font-size: 25px;
    text-align: center;
}
.lenguajes-btn{
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 25px;
    background: rgba(57, 101, 255, 0.00);
    border: 1px solid #F4FF00;
    margin-top: 10px;
}
.lenguajes-btn:hover{
    width: 200px;
    transition: ease .5s;
    background-color: #9326FF;
}
.lenguajes-btn a{
    color:  #F4FF00;
    text-decoration: none;
    font-size: 15px;
}

#formacion{
    padding: 3%;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(244, 255, 0, 0.80) 0%, rgba(248, 8, 166, 0.80) 100%);
}

#formacion-div{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #000;
    padding: 4%;
    font-family: Anonymous Pro;
    overflow: hidden;
}
#formacion-div-h3{
    display: flex;
    text-align: start;  
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    padding: 1%;
    margin-right: 10px;
    border-radius: 35px;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 25px;
    font-family: Anonymous Pro;
    position: relative;
}
#formacion-div h3::before{
    margin-left: 50px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    width: 20%;
    background-color:#000;
    border-left: 2px solid #FFF;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: 22%;
    }
    100%{
        left: 0%;
    }
}

#formacion-div img{
    width: 30px;
    margin: 15px;
}

.formacion-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4rem;
    font-size: 25px;
}
.formacion-texto{
    margin-left: 3.5rem;
}

#contacto{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #000;
    background: linear-gradient(92deg, rgba(244, 255, 0, 0.80) -17%, rgba(248, 8, 166, 0.80) 50.54%, rgba(57, 101, 255, 0.80) 119.51%);
}

#contactame-div{
    display: flex;
    align-items: center;
    min-height: 70px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(255, 255, 255, 0.2);
}

#contactame-div h3{
    margin-left: 4rem;
    color: #F4FF00;
    font-family: Anonymous Pro;
    font-size: 45px;
}

#contacto-div{
    padding: 4%;
}
.formulario__input{
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: linear-gradient(92deg, rgba(244, 255, 0, 0.56) -17%, rgba(248, 8, 166, 0.56) 50.54%, rgba(57, 101, 255, 0.56) 119.51%);
    backdrop-filter: blur(2px);

}

.formulario__input::placeholder{
    color: #FFF;
    font-size: 20px;
    font-family: Anonymous Pro;
    opacity: 80%;
}

input{
    color: rgba(255, 255, 255, 0.80);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100.523%; /* 25.131px */
    font-family: Anonymous Pro;
}

input mensaje{
    margin-bottom: 10px;
    height: 200px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: linear-gradient(92deg, rgba(244, 255, 0, 0.56) -17%, rgba(248, 8, 166, 0.56) 50.54%, rgba(57, 101, 255, 0.56) 119.51%);
    backdrop-filter: blur(2px);
}

input mensaje::placeholder{
    color: #FFF;
    font-size: 20px;
    font-family: Anonymous Pro;
    opacity: 80%;
}

#button{
    margin-top: 2%;
    color: #FFF;
    font-family: Anonymous Pro;
    font-size: 22px;
    margin-left: 10rem;
    height: 45px;
    width:  180px;
    border-radius: 22.5px;
    border: 1px solid #FFF;
    background: linear-gradient(92deg, rgba(244, 255, 0, 0.56) -17%, rgba(248, 8, 166, 0.56) 119.51%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.footer{
    padding: 15px 0 35px 20px;
    background-color: #000;
    color: #FFF;
    font-size: 25px;
    font-family: Anonymous Pro;
    font-style: normal;
}

.hidden1 {
    opacity:0;
    transform:scale(0.8);
    transition: all ease-in 1.2s;
}
.hidden2 {
  
    opacity:0;
    transition: all ease-in 1.2s;
    transform: translateX(-100%);
}
.hidden3 {
  
    opacity:0;
    transform:translateY(100%);
    transition: all ease-out 1.2s;
} 

.mostrar {
    
    opacity:1;
    transform:scale(1);
    
}


.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}


.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
