@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,600;1,700&display=swap');
/*teléfonos*/

@media only screen and (max-width: 600px){
    /*navbar*/
    .navbar{
        bottom: 0;
        width: 100%;
        height: 5rem;
        z-index: 2;
    }
    .navbar-nav{
        flex-direction: row;
        justify-content:space-evenly ;
    }

    .nav-link {
       display: none;
    }

    .main{
        margin: 0;
    }
    .article{
        margin: 0;
    }
    /*main*/
    .main h1{
        font-size: 1.5rem;
        line-height: 1.5rem; 

    }
    h2{
        font-size: 1rem;
    }
}
/*tabletas y escritorio*/
@media only screen and (min-width:600px){
    /*navbar*/
    .navbar{
        right: 0;
        width: 5rem;
        height: 100vh;
        z-index: 2;
    }
    .navbar:hover{
        width: 16rem;
    }
    
    .navbar:hover .link-text{
        display: block;
    }
    .navbar-nav{
        flex-direction: column;
    }


}

:root{
    font-size: 16px; 
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Anonymous Pro; 
}
h2{
    font-size: 1.5rem;
}
/* side scroll bar*/
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(#3965FF,#9327FF,#F808A6,#F4FF00);
}

/*fin side scroll bar*/



/*Comienza navbar*/
.navbar{
    position: fixed;
    background-color: black;
    transition: width 200ms ease;
    overflow: scroll;
}
.navbar img{
    width: 3rem;
    max-width: 3.5rem;
    border:1px white solid;
    border-radius: 50%;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-item{
    width: 100%;
}
.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: opacity(0.7) hue-rotate(0);
    transition: 200ms ease;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: #1c1c1c;
    color: white;
    font-size: 1.2rem;
}

.link-text{
    display: none;
    margin-left: 1rem;
    color: white;
}
/*Finaliza nav bar*/



/* main*/
main{
    margin-right: 5rem;
    padding: 1rem;

}

#main-gradient-background{
    width: auto;
    height: auto;
    padding: 5%;
    border-radius: 0.3125rem;
    background: linear-gradient(108deg, #3965FF 0%, #9327FF 21.92%, #F808A6 52%, #F4FF00 92.19%);
    backdrop-filter: blur(2px);
}

#main-filtered-background{
    /* display: flex; */
    /* z-index: 1; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 5%;
    border-radius: 0.3125rem;
    background: linear-gradient(108deg, rgba(57, 101, 255, 0.50) 0%, rgba(147, 39, 255, 0.50) 21.92%, rgba(248, 8, 166, 0.50) 52%, rgba(244, 255, 0, 0.50) 92.19%);
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25) inset;
} 

#main-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

#main-column h2{
    transform: rotate(-90deg);
    color: #FFF;
    font-family: Anonymous Pro;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100.523%;
}
#main-column img{
    width: 2rem;
    align-self: baseline;
}

#main-nombre{
    justify-items: flex-end;
}
h1{
    color:#F4FF00;
    font-size: 3rem;
    font-family: Anonymous Pro; 
    font-weight: 700; 
    line-height: 3rem; 
    word-wrap: break-word;
}

#ilustracion1 {
    width: 100%;
}

/*article /
/*parte I*/
#experiencia-section{
    padding: 1rem;
    margin-right: 5rem;
}
#proyectos-princ{
    /*display: flex;
*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 5px;
    margin-bottom: 20px;
}
#proyectos-sec{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
.proyectos-div-princ{
    display: flex;
    height: 16rem;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: linear-gradient(289deg, #9327FF 38.45%, #F808A6 105.41%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} 
.proyectos-div-sec{
    display: flex;
    height: 16rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: linear-gradient(302deg, #9326FF 57.12%, #F808A6 143.59%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*experiencia section*/
#experiencia-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 10px;

}

#experiencia-h3{
    color: #FFF;
    text-align: center;
    font-family: Anonymous Pro;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100.523%; /* 2.51306rem */
}